---
import Layout from "@/layouts/Layout.astro";
import { fetchGraphQL } from "@/utils/graphqlClient";

// Declare AO type
type AO = {
  aO: {
    title: string;
    aoDetails: {
      aoAddress: string;
      aoDetails: string;
      aoAddressLabel: string;
      googleMapEmbed: string;
    };
    featuredImage: {
      node: {
        mediaItemUrl: string;
      };
    };
  };
};

// Get the id from the URL parameters
const { id } = Astro.params;

// Fetch the data via the GraphQL query
const { aO }: AO = await fetchGraphQL(
  `
query NewQuery($id: ID!) {
  aO(id: $id, idType: SLUG) {
    title
    aoDetails {
      aoAddress
      aoDetails
      aoAddressLabel
      googleMapEmbed
    }
    featuredImage {
      node {
        mediaItemUrl
      }
    }
  }
}`,
  { id },
);

console.log(aO);
---

<Layout title={`${aO?.title}`}>
  <div
    class="relative flex justify-center items-center h-80 bg-cover bg-center bg-[url('/images/ao-hero.jpg')]"
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <h1 class="relative text-primary font-extrabold text-5xl">{aO?.title}</h1>
  </div>
  <div class="text-center mt-10">
    <p>Keep an eye out for the shovel flags to find the exact workout spot.</p>
    <h2 class="text-3xl font-bold mt-4 mb-2">Location</h2>
    <p>{aO?.aoDetails?.aoAddressLabel}</p>
    <p>{aO?.aoDetails?.aoAddress}</p>
    <h2 class="text-3xl font-bold mt-4 mb-2">Details</h2>
    <div set:html={aO?.aoDetails?.aoDetails} />

    <div class="flex justify-center mt-10 mb-2">
      <iframe
        class="w-full md:w-3/4 h-96 md:h-450"
        frameborder="0"
        style="border:0"
        src={aO?.aoDetails?.googleMapEmbed}
        allowfullscreen></iframe>
    </div>
  </div>
</Layout>
